/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-nav{
    width: 10%;
}
.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-items{
    font-size: 15px;
}
.btns-nav{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
