* {
    margin: 0;
    padding: 0;
}

:root {
    --cor01-: #005223;
    --cor02-: #d11313;
}
html{
    font-family: "Space Grotesk", sans-serif;
}
/* Navbar */
.logo-nav{
    width: 10%;
}
.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-items{
    font-size: 15px;
}
.btns-nav{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

/* Login */

.login-container{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.login-content{
    color: var(--cor01-);
    margin-left: 240px;
}
.login-content h2{
    font-size: 28px;
}
.login-content p{
    font-size: 12px;
    color: rgb(27, 27, 27);
    margin-top: 5px;
    margin-bottom: 30px;
}
.login-container label{
    font-size: 12px;
    font-weight: 700;
}
.login-container input{
    padding: 8px 10px;
    width: 280px;
}

#email{
    margin-bottom: 20px;
}

.btns-login{
    margin-top: 35px;
    display: flex;
    gap: 10px;
}
.btns-login button{
    flex: 1;
}

.btn{
    padding: 10px 20px;
    background-color: var(--cor01-);
    border: 1.3px solid var(--cor01-);
    color: white;
    border: 1px solid var(--cor01-);
    border-radius: 3px;
}
.btn:hover{
    background-color: white;
    color: var(--cor01-);
    transition: ease 0.2s;
}

.btn-branco:hover{
    transition: ease 0.3s;
    color: aliceblue;
    background-color: var(--cor01-);
}

.btn-branco{
    padding: 10px 20px;
    background-color: white;
    color: var(--cor01-);
    border: 1.3px solid var(--cor01-);
    font-weight: 700;
    border-radius: 3px;
}

.img-fundo{
    width: 10%;
}

.foto-container{
    background-image: url(./assets/fundo-img.png);
    height: 100vh;
    width: 40%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-branco{
    width: 90%;
}
.fundo-foto{
    width: 70%;
}

/* Footer */
footer{
    background-color: #161616;
    padding: 60px;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer img{
    width: 10%;
}
.footer-content{
    display: flex;
    gap: 40px;
    font-size: 12px;
    margin-bottom: 50px;
}
.hr{
    border-top: 1px solid rgb(129, 129, 129);
    margin-bottom: 20px;
    margin-top: 30px;
    height: 10px;
}
.copy{
    font-size: 14px;
}