/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar button {
    padding: 8px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s; 
}
.navbar .login{
    background-color: transparent; 
    color: #005223;             
    border: 1px solid #b3b3b3;
    border: 1px solid #005223;  
    border-radius: 3px;
}
.navbar .cadastro {
    background-color: #005223;
    border-radius: 3px;
    color: #ffffff;             
    border: none;     
    margin-left: 10px;  
}
.body{
    height: 100%;
    width: 600px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 235px;
}
.body .logoCentro{
    width: 300px;
    display: flex;
    padding: 10px;
    justify-content: left;
    margin-top: -380px;
    max-width: 20%;    
    height: auto;
    
    
}
.footer{
     background-color: rgb(0, 0, 0);
    padding: 200px;
    width: 100%;

}
.footer .container {
    display: flex;
    justify-content: space-between;
    
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.footer h4{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: end;
    color: rgb(254, 254, 254);
}